@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --toprakbeji: #d6c4a8;
  --adacayiyesili: #a4b49f;
  --bulutgrisi: #c9d0d4;
  --koyuagackahverengisi: #6a5847;
  --gunisigisarisi: #f7e7a0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-bej: var(--toprakbeji);
  --color-yesil: var(--adacayiyesili);
  --color-gri: var(--bulutgrisi);
  --color-kahverengi: var(--koyuagackahverengisi);
  --color-sari: var(--gunisigisarisi);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
